:root {
  /* Black White */
  --black: #000000;
  --white: #ffffff;

  /* Base Colors */
  --red: #ff0000;
  --green: #008000;
  --blue: #0000ff;

  /* Composite Colors */
  --yellow: #fee84e;
  --orange: #ff6d00;
  --brown: #87401b;
  --gray: #d3d3d3;
  --silver: #c0c0c0;
  --cyan: #00ffff;
  --turqoise: #00d6c8;
  --teal: #008184;
  --cream: #fffcb3;
  --peach: #ffdab9;
  --pink: #ff66c4;
  --violet: #ff61ff;
  --purple: #936ee2;
  --indigo: #570085;
}

/* Color Variables */
$black: var(--black);
$white: var(--white);

$primary: #a484ed;
$secondary: #734ad0;
$tertiary: #c6baf9;

$primary-gray: #f5f6fa;
$secondary-gray: #e5eafe;
$tertiary-gray: #616161;
$quaternary-gray: #82829c;
$quinary-gray: #cbcacf;

$primary-blue: #427bfe;

$primary-bg-gradient: linear-gradient(180deg, #5695fd 0%, #1554ff 100%);
$secondary-bg-gradient: linear-gradient(180deg, #021b42 0%, #031837 100%);
